
.display{
  height: 100px;
  width: 90%;
  background-color: black;
  border: none;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 10px;
  margin: 20px;
  
}

@media screen and (min-width: 768px) {
  .display{
    width: 50%;
    height: 40%;

    margin: auto;
    justify-content: space-evenly;
  }
}