
.display{
  height: 50px;
  width: 15rem;
  background-color: black;
  border: none;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  color: white;

  
}

@media screen and (min-width: 768px) {
  .display{
    // width: 50%;
    // height: 60%;

    // margin: auto;
    justify-content: space-evenly;
    width: 40%;
  }
}